/* Webfonts */
@import '_fonts.css';

/* Tailwind base/components */
@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Custom Style Imports */
@import '_typography.css';

/* Tailwind Utilities */
@import 'tailwindcss/utilities';


/* Simple defaults */
body {
  @apply font-sans antialiased text-black bg-white;
}

/* Mobile Menu */
.btn-mobile-menu {
  @apply absolute z-50 flex flex-col items-center justify-around w-8 h-8 transition duration-200 -translate-y-1/2 outline-none right-8 top-1/2 lg:hidden;

  &:focus {
    @apply outline-none;
  }
}

.btn-mobile-menu span {
  @apply relative w-8 h-[2px] transition-all duration-200 bg-white;
  transform-origin: 0;
}

.btn-mobile-menu.open span {
    &:first-child {
      transform: rotate(45deg);
      transform-origin: 0;
    }

    &:nth-child(2) {
      opacity: 0;
    }

    &:nth-child(3) {
      transform: rotate(-45deg);
      transform-origin: 5%;
    }
}

.nav-item {
  @apply relative uppercase transition duration-200;
}

.bg-dots {
  background: url('/images/dots-seamless.svg') repeat;
  background-size: 100px;
}


.btn {
  @apply relative inline-block p-4 overflow-hidden font-black tracking-widest uppercase;
}

.btn--border-white {
  @apply transition duration-100 border border-white;

  span {
    @apply relative z-10 transition duration-300 delay-200;
  }

  &:before {
    content: '';
    @apply absolute top-0 left-0 w-full h-full transition duration-500 transform -translate-x-full bg-white;
  }

  &:hover:before,
  &:focus:before {
    @apply translate-x-0;
  }

  &:hover span,
  &:focus span {
    @apply text-black;
  }
}

.btn--border-black {
  @apply transition duration-100 border border-black;

  span {
    @apply relative z-10 transition duration-300 delay-200;
  }

  &:before {
    content: '';
    @apply absolute top-0 left-0 w-full h-full transition duration-500 transform -translate-x-full bg-black;
  }

  &:hover:before,
  &:focus:before {
    @apply translate-x-0;
  }

  &:hover span,
  &:focus span {
    @apply text-white;
  }
}